<div class="container my-5">

    <div class="row" id="msdd">
        <div class="display py-1 form-control form-control-sm" (click)="onDisplayClick() ">
            <div *ngFor="let obj of selected" class="tags mx-2 px-2">
                {{obj}}
            </div>
        </div>
        <div class="checks form-control" [ngClass]="{'option-dropped': isdropped}" [ngStyle]="{'bottom': -checksTop + 'px'}">
            <div class="check" *ngFor="let obj of all" style="height: 25px;">
                <input type="checkbox" (click)="onclicked($event)" [value]="obj.count" [id]="obj.name" />
                <label [for]="obj.name"> {{obj.name}}</label>
            </div>
        </div>
    </div>
</div>