/* Hide scrollbar for Chrome, Safari and Opera */
.display::-webkit-scrollbar {
  display: none;
}

.checks::-webkit-scrollbar {
 display: none;
}


//  .checks::-webkit-scrollbar {
//   display: none;
// }


/* Hide scrollbar for IE, Edge and Firefox */
.display {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
  display: flex;
  overflow: scroll;
  position: relative;
  max-height: calc(1.5em + 0.5rem + calc(var(--bs-border-width) * 2));
  border: 1px solid;
}

.down-icon {
  position: absolute;
  right: 10px;
  top: 4px;
}

#msdd {
  position: relative;
}

.rotateUp {
  transform: rotateZ(180deg);
}

.tags {
  border-radius: 30px;
  background: skyblue;
  color: white;
  width: fit-content;
  font-size: 0.8rem;
}

.checks {
 -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
  display: none;
  position: absolute;
  height: 150px;
  border: none;
  overflow: scroll;
  z-index: 10;
  background-color: white;
  box-shadow: 5px 5px 15px rgba(128, 128, 128, 0.425);
}

.option-dropped {
  display: block !important;
  border: 1px solid !important;
}

.option-dropped check:hover {
  background-color: blue;
  color: white;
}

.check label{
 font-size: 0.8rem;
}